.section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex: 0.8;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1.3vw;
}

.home{
    display: flex;
    align-items: center;
    flex: 0.4;
}

.homeButton{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.4vw;
    font-weight: 700;
}

.homeButton img{
    margin-right: 0.5vw;
}

.recommend, .myMusic, .playlist{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin-top: 1vw;
}

.myMusic, .playlist{
    margin-top: 1.3vw;
}

.recommend > p, .myMusic > p, .playlist>p{
    color: rgb(150, 150, 150);
    font-size: 0.8vw;
    font-weight: 500;
}

.recommendList, .myMusicList, .playlistList{
    display: flex;
    flex-direction: column;
    margin-top: 0.7vw;
    width: 90%;
}

.listItem{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.9vw;
    font-weight: 500;
    border-radius: 0.5vw;
   width: 100%;
   height: 2.5vw;
   cursor: pointer;
}

.listItem:hover:not(.active){
    background-color: rgba(255,255,255,0.2);
}

.active{
    background-color: white;
}

.listItem svg, .activeListItem svg{
    margin-left: 1vw;
    margin-right: 0.7vw;
    fill: var(--c2);
}

.newPlaylist{
    display: flex;
    flex: 0.4;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.newPlaylistButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 87%;
    height: 85%;
    border-radius: 0.5vw;
    background-color: var(--c3);
    font-size: 0.95vw;
    font-weight: 500;
    cursor: pointer;
}

.newPlaylistButton svg{
    margin-right: 0.8vw;
    margin-left: 1vw;
}

.newPlaylistButton:hover{
    background-color: var(--c4);
}