.section {
  display: flex;
    width: 97%;
    background-color: rgba(255,255,255,0.4);
    height: 80%;
    border-radius: 1vw;
    position: relative;
}

.player{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.song {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  order: -1;
  flex: 1;
}


.right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.songimage{
  margin-left: 2vw;
}



.name {
  font-size: 0.9vw;
  font-weight: 700;
  margin-left: 1vw;
}

.artist {
  font-size: 0.8vw;
  font-weight: 500;
  color: gray;
  margin-left: 1vw;
  margin-top: 0.2vw;
}

  
  .controls button {
    background-color: transparent;
    border: none;
    margin: 0 25px;
    fill: rgb(150, 150, 150);
  }

  .controls button:hover {
    cursor: pointer;
    font-size: 1rem;
    fill: #9b5dff;
    transition: 0.3s ease all;
  }
  .play{
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    fill: #9b5dff;
  }

  .progress{
    position: absolute;
    top: 0;
    height: 3%;
    background-color: #9b5dff;
    border-radius: 5%;
    left:0
  }

  .volume{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
  }
 